<mat-form-field>
  <mat-label>Gender</mat-label>
  <mat-select [(value)]="selectedGender">
    <mat-option value="">All</mat-option>
    <mat-option value="male">Male</mat-option>
    <mat-option value="female">Female</mat-option>
  </mat-select>
</mat-form-field>

<button mat-flat-button color="primary" (click)="applyFilters()">Search</button>
<button mat-flat-button (click)="clearFilters()">Remove Filters</button>
<button mat-flat-button *ngIf="sort" (click)="toggleSort()">
  Sort First Name {{ sort.direction === 'asc' ? '(A→Z)' : '(Z→A)' }}
</button>
<button mat-flat-button color="accent" (click)="openAddDialog()">
  Add Person
</button>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="thumbnail">
    <th mat-header-cell *matHeaderCellDef>Picture</th>
    <td mat-cell *matCellDef="let user">
      <img
        [src]="user.picture.thumbnail"
        width="45"
        height="45"
        alt="{{ user.name.first }} thumbnail"
      />
    </td>
  </ng-container>
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let user">{{ user.gender }}</td>
  </ng-container>
  <ng-container matColumnDef="first">
    <th mat-header-cell *matHeaderCellDef>First</th>
    <td mat-cell *matCellDef="let user">{{ user.name.first }}</td>
  </ng-container>
  <ng-container matColumnDef="last">
    <th mat-header-cell *matHeaderCellDef>Last</th>
    <td mat-cell *matCellDef="let user">{{ user.name.last }}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let user">{{ user.location.city }}</td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let user">
      <button mat-flat-button (click)="openEditDialog(user)">Edit</button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let user">
      <button mat-icon-button color="warn" (click)="removeUser(user)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[25, 50, 100]"
  showFirstLastButtons
></mat-paginator>

<ng-template #addPersonDialog>
  <h2 mat-dialog-title>Add Person</h2>
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Picture</mat-label>
      <input matInput [(ngModel)]="newUser.picture.thumbnail" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="newUser.name.first" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="newUser.name.last" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <input matInput [(ngModel)]="newUser.gender" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="newUser.email" type="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput [(ngModel)]="newUser.location.city" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="newUser"
      [disabled]="!newUser.name.first || !newUser.email || !newUser.gender"
    >
      Save
    </button>
  </mat-dialog-actions>
</ng-template>

<a routerLink="/dashboard">DSDSDS</a>
<router-outlet></router-outlet>
